@media screen and (min-width: 980px){
   #menu{
    display: none;
   }
   #fakeNav{
    display: none;
   }
   .navigation{
        display: flex;
        flex-direction: row-reverse;
    }
    .navigation a h3{
        padding: 0rem 2rem;
        text-align: center;
   }

   header img {
    max-width: 90px;
   }
    h1 {
    font-size: 20pt;
   }
   h2 {
    font-size: 10pt;
   }
   .services {
    grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   h3 {
    font-size: 10pt;
    padding: .5rem;
   }
   a {
    padding: 0.5rem;
   }
   .current {
    text-decoration: underline;
   }
   .images img{
        max-width: 50%;

   }
}